body {
    padding: 0px;
    margin: 0px;
    background: #ffa600ee;
    /* background: coral; */
    height: 580px;
}

/* elimina el glow azul de seleccion de los siguientes elementos */

textarea, select, input, button { 
    outline: none; 
}

/* estilos nav bar */
nav {
    display: block;
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.938);
    z-index: 3;
    position: fixed;
    box-shadow: 0px -6px 25px; 
}

nav ul {
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

nav ul li:first-child{
    display: inline-block;
    padding-top: 50px;
    padding-left: 225px;
    margin: 10px;
    margin-bottom: 3px;
    background: rgb(221, 87, 38);
    margin-left: 50px;
    border-radius: 30px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 43px;
}

span {
    color: white;
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 137px;
    height: 30px;;
    z-index: 6;
    cursor: default;
}

#logo {
    position: absolute;
    height: 115px;
    left: 35px;
    top: -10px;
}

#boton-menu {
    position: absolute;
    height: 35px;
    right: 35px;
    top: 25px;
    display: none;
}

#contorno-menu {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 22px;
    top: 11.5px;
    background: rgb(221, 87, 38);
    border-radius: 50%;
    display: none;
}
/* fin estilos navbar */

#contenido {
    /* height: 100%; */
    height: 100vh;
    background: #ffa600ee;
}

/* caja con datos del alumno */
#credenciales-alumno {
    display: inline-block;
    height: 230px;
    background: gray;
    margin-left: 30px;
    margin-top: 130px;
    border-radius: 30px;
    box-shadow: 0px 1px 3px black;
    width: 370px;
    cursor: default;
}

#credenciales-alumno section {
    padding-top: 5px;
    width: 100%;
    height: 30px;
    /* background: black; */
    background: rgb(27, 24, 24);
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    border-radius: 15px 15px 0px 0px;
    font-size: 18px;
}

#credenciales-alumno img {
    height: 65px;
    margin-top: 20px;
    margin-left: 153px;
}

#credenciales-alumno h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-family: 'Baloo Bhai', cursive;
    color: white;
    text-shadow: 0px 0px 3px black;
}

#credenciales-alumno h2 {
    margin-top: 0px;
    margin-left: 50px;
    font-family: 'Baloo Bhai', cursive;
    color: white;
    text-shadow: 0px 0px 3px black;
}

/* Circulo con porcentaje de pago */
#datos-pago {
    display: inline-block;
    position: absolute;
    width: 420px;
    height: 420px;
    margin: 0px;
    padding: 0px;
    /* margin-top: 150px; */
    border-radius: 50%;
    color: white;
    /* background: gray; */
    background: rgba(206, 76, 25, 0.808);
    border: 0.5px solid white;
    box-shadow: 0px 1px 5px black;
    text-align: center;
    left: 440px;
    top: 120px;
    cursor: default;
}

#datos-pago h1 {
    margin: 60px 0px 0px 40px;
    font-family: 'Baloo Bhai', cursive;
    font-size: 120px;
    text-shadow: 0px 0px 3px black;
}

#datos-pago img {
    height: 60px;
    margin-top: -15px;
}

#datos-pago p {
    display: inline-block;
    margin: 15px 0px 0px 10px;
    font-family: 'Baloo Bhai', cursive;
    font-size: 20px;
    text-shadow: 0px 0px 3px black;
}

#monto-actual {
    padding-left: 10px;
}


/* estilos botones "contrato" y "depositar" */
.boton {
    position: absolute;
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 2px black;
    text-shadow: 0px 0px 5px black;
    font-family: 'Baloo Bhai', cursive;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    transition: 0.09s;
}

.boton:hover {
    height: 60px;
    box-shadow: 0px 3px 6px black; 
}

#btn-contrato {
    top: 400px;
    left: 50px;
    background: rgb(206, 76, 25);

}

#btn-depositar {
    top: 400px;
    left: 230px;
    background: rgb(104, 163, 104);
}

#contrato {
    display: none;
    position: absolute;
    height: 300px;
    width: 400px;
    background: rgb(238, 99, 48);
    padding: 30px;
    left: 400px;
    top: 150px;
    border-radius: 30px;
    cursor: default;

}

/* Caja historial de depositos */
#historial-transacciones {
    display: inline-block;
    background: gray;
    height: 400px;
    width: 350px;
    position: absolute;
    left: 900px;
    top: 120px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px black;
    cursor: default;
    overflow: scroll;
    
}

#historial-transacciones section {
    padding-top: 5px;
    width: 350px;
    height: 30px;
    background: rgb(27, 24, 24);
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    border-radius: 15px 15px 0px 0px;
    font-size: 18px;
    position: fixed;
    margin-top: -3px;

}

#invi-deposito {
    height: 1px;
}

#lista-depositos {
    list-style: none;
    /* background: white; */
    margin: 0px;
    height: 400px;
    padding: 0px;
    
}

/* elemento deposito (contiene una imagen, el monto del deposito, y la fecha en la que 
se realiza este ) */
#lista-depositos li {
    /* background: rgb(241, 104, 25); */
    background: rgba(255, 136, 0, 0.719);
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 37px; 
    width: 270px;
    height: 80px;
    /* text-align: center; */
    border-radius: 9px;
    color: black;
    font-family: 'Baloo Bhai', cursive;
    padding: 5px;
}

#lista-depositos li:first-child {
    margin-top: 53px;
}
#lista-depositos li img {
    height: 70px;
    margin:0px;
    display: inline-block;
    margin-left: 15px;
} 

#datos-deposito {
    display: inline-block;
    padding: 0px;
    padding-left: 10px;
}

#datos-deposito h1 {
    font-size: 25px;
    margin:0px;
    display: inline-block;
}

#datos-deposito h2 {
    font-size: 15px;
    margin:0px;
    margin-left: 5px;

}


