body {
    padding: 0px;
    margin: 0px;
    background: #ffa600ee;
    height: 580px;
}

/* elimina el glow azul de seleccion de los siguientes elementos */
textarea, select, input, button { 
    outline: none; 
}

/* Propiedades del overlay (oscurencimiento de la pagina) */
#overlay {  
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 10; 
  }
  
  /* estilos nav bar */
  nav {
      display: block;
      height: 80px;
      width: 100%;
      background: rgba(0, 0, 0, 0.938);
      z-index: 3;
      position: fixed;
      box-shadow: 0px -6px 25px; 
  }
  
  nav ul {
      margin: 0px;
      list-style: none;
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
  }
  
  nav ul li:first-child{
      display: inline-block;
      padding-top: 50px;
      padding-left: 225px;
      margin: 10px;
      margin-bottom: 3px;
      background: rgb(221, 87, 38);
      margin-left: 50px;
      border-radius: 30px;
      height: 10px;
      position: absolute;
      top: 0px;
      left: 43px;
  }
  
  #txt-logo {
      color: white;
      font-family: 'Baloo Bhai', cursive;
      font-size: 30px;
      position: absolute;
      top: 17px;
      left: 137px;
      height: 30px;;
      z-index: 6;
      cursor: default;
  }
  
  #logo {
      position: absolute;
      height: 115px;
      left: 35px;
      top: -10px;
  }
  
  /* fin estilos navbar */

  #contenido {
    height: 100vh;
    background: #ffa600ee;
}

/* Estilos top-bar  */
#top-bar {
    padding-top: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid whitesmoke; 
    background: #6d4701ee;
    position: absolute;
    width: 100%;
    position: fixed;
}

#top-bar h1 {
    display: inline;
    margin-left: 50px;
    color: white;
    font-family: 'Baloo Bhai', cursive;
}

#usuario-ejecutivo {
    display: none;
}

#top-bar button {
    margin-left: 930px;
    height: 60px;
    width: 135px;
    background: rgb(221, 87, 38);
    border-radius: 30px;
    box-shadow: 0px 0px 2px black;
    border: none;
    font-size: 22px;
    font-family: 'Baloo Bhai', cursive;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    transition: 0.3s;
}

#top-bar button:hover {
    background: rgb(133, 48, 17);
}

#invi {
    height: 165px;
}

.listado-curso {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.componente-curso {
    background: rgb(128, 128, 128);
    box-shadow: 0px 1px 3px black;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin: auto;
    margin-top: 45px;
    margin-left: 35px;
    margin-bottom: 20px;
    transition: 0.2s;
}

.componente-curso:hover {
    box-shadow: 0px 1px 20px black;

}

.componente-curso h3 {
    display: inline-block;
    color: white;
    text-shadow: 0px 1px 3px black;
    font-family: 'Baloo Bhai', cursive;
    margin: 0px;
    margin-left: 15px;
    font-size: 33px;
    margin-top: 10px;
}

.componente-curso h4 {
    display: inline-block;
    color: white;
    text-shadow: 0px 1px 3px black;
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.5vw;
    margin: 0px;
    margin-left: 30px;

}

.componente-curso img {
    height: 160px;
    margin-left: 70px;
    margin-top: 5px;
    padding-bottom: 25px; 
}

.componente-curso div {
    background: black;
    height: 50px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 1px 3px black;
    cursor: default;
}

/* codigo del curso(no se muestra en la vista) */
.componente-curso div span {
    display: none;
}

.componente-curso h5 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Baloo Bhai', cursive;
    font-size: 23px;
    float: left;
    margin-top: 10px;
    margin-left: 60px
}

.componente-curso div img {
    height: 35px;
    display: inline-block;
    margin: 0px;
    margin-top: 7px;
    margin-left: 30px;
    cursor: pointer;
    padding: 0px;
}

#agregar-curso {
    position: fixed;
    display: none;
    height: 300px;
    width: 400px;
    background: rgb(238, 99, 48);
    padding: 30px;
    left: 440px;
    top: 150px;
    border-radius: 30px;
    cursor: default;
    font-family: 'Baloo Bhai', cursive;
    box-shadow: 0px 1px 3px black;
    z-index: 11;
}

#agregar-curso h3 {
    font-size: 30px;
    margin: 0px;
    text-align: center;
    padding-bottom: 20px;
}

#agregar-curso label {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 20px;
}

#agregar-curso input {
    margin-left: 30px;
    padding: 10px;
    border-radius: 20px;
}

#txt-nombreColegio {
    margin-left: 45px !important; 
}

#sc {
    margin-left: 155px;
}

#btn-ingresar-curso {
    margin-left: 150px !important;
    margin-top: 20px;
    padding: 0px !important;
    height: 30px;
    width: 100px;
    background: rgb(133, 45, 13);
    border-radius: 30px;
    box-shadow: 0px 0px 2px black;
    border: none;
    font-size: 20px;
    font-family: 'Baloo Bhai', cursive;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

#btn-ingresar-curso:hover {
    background: rgb(46, 15, 4);
}

#agregar-curso img {
    height: 20px;
    float: right;
    cursor: pointer;
}

#agregar-alumno {
    position: fixed;
    display: none;
    height: 300px;
    width: 400px;
    background: rgb(238, 99, 48);
    padding: 30px;
    left: 440px;
    top: 150px;
    border-radius: 30px;
    cursor: default;
    font-family: 'Baloo Bhai', cursive;
    box-shadow: 0px 1px 3px black;
    z-index: 11;
}

#agregar-alumno h3 {
    font-size: 30px;
    margin: 0px;
    text-align: center;
    padding-bottom: 20px;
}

#agregar-alumno label {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 20px;
}

#agregar-alumno input {
    margin-left: 30px;
    padding: 10px;
    border-radius: 20px;
}

#txt-nombreAlumno {
    margin-left: 45px !important; 
}

#txt-rutAlumno {
    margin-left: 85px !important; 
}

#btn-añadir-alumno {
    margin-left: 150px !important;
    margin-top: 20px;
    padding: 0px !important;
    height: 30px;
    width: 100px;
    background: rgb(133, 45, 13);
    border-radius: 30px;
    box-shadow: 0px 0px 2px black;
    border: none;
    font-size: 20px;
    font-family: 'Baloo Bhai', cursive;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

#btn-añadir-alumno:hover {
    background: rgb(46, 15, 4);
}

#agregar-alumno img {
    height: 20px;
    float: right;
    cursor: pointer;
}

#notificacion {
    background: rgb(31, 139, 31);
    text-align: center;
    border-radius: 20px;
    display: none;
}