body {
    padding: 0px;
    margin: 0px;
    background: rgb(61, 59, 59);
    height: 800px;
}

/* hace el efecto de smooth-scrolling en el documento */
html {
    scroll-behavior: smooth;
}

/* propiedades secciones */
section {
    display: block;
    height: 100vh;
    width: 100%;
    margin: 0px;
    position: relative;
}

#inicio {
    background: rgb(214, 76, 26);
} 

#ingresar {
    background: #ffa600ee;
}

/* Propiedades del overlay (oscurencimiento de la pagina al abrir el menu) */
#overlay {  
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 3;
  }

/* Estilos navbar */
nav {
    display: inline-block;
    height: 80px;
    width: 100%;
    background: rgba(232, 233, 243, 0.918);
    z-index: 4;
    position: fixed;
    box-shadow: 0px -6px 25px; 
}

nav ul {
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

nav ul li:first-child{
    display: inline-block;
    padding-top: 50px;
    padding-left: 225px;
    margin: 10px;
    margin-bottom: 3px;
    background: rgb(221, 87, 38);
    margin-left: 50px;
    border-radius: 30px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 43px;
}

span {
    color: white;
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 137px;
    height: 30px;;
    z-index: 6;
    cursor: default;
}

#logo {
    position: absolute;
    height: 115px;
    left: 35px;
    top: -10px;
}

#img-menu {
    position: absolute;
    height: 35px;
    right: 14px;
    top: 13px;
}

#btn-menu {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 22px;
    top: 11.5px;
    background: rgb(221, 87, 38);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
    
}

#btn-menu:hover {
    background: rgb(128, 48, 20);
}
/* caja de login ejecutivo */
#caja-acceso {
    display: block;
    position: absolute;
    height: 370px;
    width: 400px;
    right: -401px;
    top: 0px;
    background: #e2b154;
    border-radius: 0px 0px 0px 30px;
    border: 0.5px solid white;
    border-top: none;
    transition: ease;
    opacity: 1;
    font-family: 'Baloo Bhai', cursive;
    z-index: 5;
}

#caja-acceso form {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 5px;
}

#caja-acceso h3 {
    width: 100%;
    height: 60px;
    text-align: center;
    background: #6F6353;
    margin: 0px;
    padding-top: 21px;
    color: white;
    font-size: 23px;
    box-shadow: 0px 0px 3px black;
}

#caja-acceso form input{
    margin-left: 95px;
    padding: 5px;
    margin-top: -2px;
    width: 190px;
    border-radius: 30px;
    color: black;
    font-size: 30px;
    text-align: center;
    display: block;
    font-family: 'Patrick Hand', cursive;
    border: none;
    box-shadow: 0px 0px 5px;
}


#caja-acceso form label{
    font-size: 25px;
    display: block;
    margin-top: 10px;
    color: rgb(39, 34, 27);
}

#caja-acceso form label:last-child {
    margin-top: 20px;
}

#btn-ingresar-ejecutivo {
    height: 40px;
    width: 130px !important;
    background: rgb(221, 87, 38);
    border-radius: 30px;
    box-shadow: 0px 0px 2px black !important;
    border: none !important;
    font-size: 25px !important;
    font-family: 'Baloo Bhai', cursive !important;
    color: white !important;
    text-shadow: 0px 0px 5px black !important;
    text-align: center !important;
    padding-top: 2px !important; 
    cursor: pointer;
    margin-top: 25px !important;
    margin-left: 127px !important;
}

#text-rut {
    padding: 5px;
    margin-top:-2px; 
    width: 190px;
    border-radius: 30px;
    color: black;
    font-size: 30px;
    text-align: center;
    display: block;
    font-family: 'Patrick Hand', cursive;
    border: none;
    margin-left: 48px;
    box-shadow: 0px 0px 5px;
}

/* estilos caja ingreso rut de la ultima seccion */
#caja-login {
    height: 380px;
    width: 300px;
    background: #6F6353;
    padding: 0px 0px 0px 0px;
    margin-left: 910px;
    border-radius: 0px 0px 65px 65px;
    box-shadow: 0px 1px 4px;
    text-align: center;
}

/* estilos del form dentro de la caja login */
#ingresar form {
    padding-top:140px;
}

#text-usuario::placeholder {
    position: absolute;
    opacity: 0.2;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}

#btn-ingresar {
    height: 40px;
    width: 115px;
    margin-top: 30px;
    background: rgb(221, 87, 38);
    border-radius: 30px;
    box-shadow: 0px 0px 2px black;
    border: none;
    font-size: 20px;
    font-family: 'Baloo Bhai', cursive;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    transition: 0.5s;
}

#btn-ingresar:hover {
    background: rgb(116, 45, 19);
}

.label-login {
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    color: rgb(66, 47, 22);
    font-size: 30px;
}

#rutalumno {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    padding-left: -5px;
    font-family: 'Baloo Bhai', cursive;
    color: rgb(66, 47, 22);
    font-size: 25px;
    margin:0;
}

/* estilos lista atributos seccion 1 */
#lista-atributos {
    margin: 0px 0px 0px 920px;
    padding: 80px 0px 0px 0px;
    list-style: none;
    text-align: left;
}

#lista-atributos p {
    font-size: 19px;
    font-family: 'Baloo Bhai', cursive;
    color: rgba(255, 255, 255, 0.767);
    display: inline;
}

/* disposicion de atributos de la aplicacion (seccion 1) */
#lista-atributos li {
    padding-top: 50px;
    margin-left: 30px;
}

#lista-atributos li:first-child {

    padding-bottom: 10px;
    margin-left: -30px; 
}

#lista-atributos li:last-child {
    margin-left: 80px; 
    padding-top: 60px;
}

#lista-atributos li img {
    height: 105px;
    margin-left: 0px;     
    position: absolute;
}

/* ajuste imagenes de los atribuos seccion 1*/
#img1 {
    left: 790px;
    top: 95px;
}

#img2 {
    left: 830px;
    top: 230px;
}

#img3 {
    left: 890px;
    top: 340px;
}

/* boton "ingresa ya" seccion 1 */
#inicio button {
    height: 40px;
    width: 115px;
    margin-top: 388px;
    margin-left: 349px;
    background: #0287D1;
    border-radius: 30px;
    box-shadow: 0px 0px 2px black;
    border: none;
    font-size: 17px;
    font-family: 'Baloo Bhai', cursive;
    color: rgba(255, 255, 255, 0.911);
    text-align: center;
    cursor: pointer;
    margin-left: 1000px;
    margin-top: 50px;
    padding-top: 3px;
    transition: 0.5s;
}

#inicio button:hover {
    background: rgb(1, 56, 85);
}

/* estilos animacion central (campamento) */
.container {
    padding: 0px;
	margin: 0px;
    display: block;
    position: relative;
    height: 0px;
    bottom: 400px;
    z-index: 2;
}

.container svg {
	display: block;
	margin-left: 50px;
    margin-right: auto;
    border-radius: 50%;
    position: relative;
}

/* elimina el glow azul de seleccion de los siguientes elementos */
textarea, select, input, button { 
    outline: none; 
}
/* quita el cursor de texto cuando se hace hover sobre los elementos <p> */
p {
    cursor: default;
}