<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/alumno.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Patrick+Hand|Permanent+Marker|Righteous|Signika+Negative&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/img/mochila.png">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <title>Alumno</title>
</head>
<body>
    <div id="overlay"></div>
    <nav>
        <ul>
            <li></li>
            <a href="/"><img id="logo" src="../static/img/mochila.png" alt="logo MochileApp"> </a>
            <li id="contorno-menu"></li>
            <img id="boton-menu" src="../static/img/black-and-white-stripes-png-7.png" alt="incono menu">
        </ul>
        <span id="txt-logo">MochileApp</span>
    </nav>
    <div id="contenido">
        <div id="credenciales-alumno">
            <section>Alumno</section>
            <img src="../static/img/alumno5.png" alt="alumno">
            <h1>{{ nombreAlumno }}</h1>
            <h2>{{ rutAlumno }}</h1>
        </div>
        <div id="datos-pago">
                <h1 id="porcentaje">0%</h1>
                <img src="../static/img/icono-plata.png" alt="dinero">
                <br>
                <p id="monto-actual">{{ montoActual }}</p> 
                <p>/</p>
                <p id="monto-meta">{{ montoMeta }}</p> 
        </div>
        <div id="historial-transacciones">
            <section>Historial Depósitos</section>
            <div id="invi-deposito"></div>
            <ul id="lista-depositos">
                <li><h2 style="margin-left: 5px">Aún no hay depositos :( </h2></li>
            </ul>
        </div>
        <button id="btn-depositar" class="boton">Depositar</button>
        <button id="btn-contrato" class="boton">Ver Contrato</button>
       
        <div id="contrato">
            <h1>CONTRATO </h1>
            <p>
                Mediante el presente contrato se establece que el alumno <span style="color: white">{{ nombreAlumno }}</span>  
                con rut <span style="color: white">{{ rutAlumno }}</span> del colegio {{ nombreColegio }} recibirá,
                despues de haber cancelado el monto acordado correspondiente que es de <span id="monto"></span> pesos,
                los servios descritos a continuacion.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum at, 
                facilis id soluta porro. Doloribus cum similique, laudantium optio velit placeat 
                ullam natus laboriosam quae quibusdam aliquam, labore consequatur.
            </p>
        </div>
    </div>
    <script src="../static/js/alumno.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/animacion-contrato(jQuery).js"></script>
</body>
</html>